<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách học sinh</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/danh-sach-hoc-sinh" method="GET">Danh sách học sinh</a>
        <a href="/them-hoc-sinh-page" method="GET">Thêm học sinh</a>
        <a href="/danh-sach-phu-huynh" method="GET">Danh sách phụ huynh</a>
        <a href="/them-phu-huynh-page" method="GET">Thêm phụ huynh</a>
        <a href="/danh-sach-giao-vien" method="GET">Danh sách giáo viên</a>
        <a href="/them-giao-vien-page" method="GET">Thêm giáo viên</a>
        <a href="/danh-sach-lop-hoc" method="GET">Danh sách lớp học</a>
        <a href="/them-lop-hoc-page" method="GET">Thêm lớp học</a>
    </div>
    <div>
        <div class='table-container'>
            <h2><b>Danh sách học sinh</b></h2>
            <form action="/danh-sach-hoc-sinh/export" method="GET">
                <button class="btn-export" type="submit">Xuất file excel</button>
            </form>
            <table border="1">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã số</th>
                        <th>Họ tên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>ID phụ huynh</th>
                        <th>ID lớp học</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i< dataHocSinh.length; i++){ %>
                        <% let day=dataHocSinh[i].ngaySinh.getDate(); let month=dataHocSinh[i].ngaySinh.getMonth() + 1;
                            let year=dataHocSinh[i].ngaySinh.getFullYear(); let date=day+'/'+month+'/'+year %>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <%= dataHocSinh[i].id %>
                                </td>
                                <td>
                                    <%= dataHocSinh[i].hoTen %>
                                </td>
                                <td>
                                    <%= date %>
                                </td>
                                <td>
                                    <%= dataHocSinh[i].gioiTinh %>
                                </td>
                                <td>
                                    <%= dataHocSinh[i].idPH %>
                                </td>
                                <td>
                                    <%= dataHocSinh[i].idLop %>
                                </td>
                                <td>
                                    <form action="/delete-hoc-sinh" method="POST">
                                        <input type="text" hidden value="<%= dataHocSinh[i].id %>" name="idHocSinh">
                                        <button class="btn-sua-tt-hs" type="submit"
                                            onclick="return confirm('Đưa Học Sinh Này Vào Danh Sách `Đã Nghỉ Học` ?')">Xóa</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/sua-thong-tin-hoc-sinh/<%= dataHocSinh[i].id %>" method="GET">
                                        <button class="btn-sua-tt-hs" type="submit">Sửa thông tin</button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                </tbody>

            </table>

        </div>


    </div>
</body>

</html>