<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Giáo Viên</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/danh-sach-hoc-sinh" method="GET">Danh Sách Học Sinh</a>
        <a href="/them-hoc-sinh-page" method="GET">Thêm Học Sinh</a>
        <a href="/danh-sach-phu-huynh" method="GET">Danh Sách Phụ Huynh</a>
        <a href="/them-phu-huynh-page" method="GET">Thêm Phụ Huynh</a>
        <a class="active" href="/danh-sach-giao-vien" method="GET">Danh Sách Giáo Viên</a>
        <a href="/them-giao-vien-page" method="GET">Thêm Giáo Viên</a>
        <a href="/danh-sach-lop-hoc" method="GET">Danh Sách Lớp Học</a>
        <a href="/them-lop-hoc-page" method="GET">Thêm Lớp Học</a>
    </div>
    <div class='table-container'>
        <h2><b>Danh Sách Giáo Viên</b></h2>
        <form action="/danh-sach-giao-vien/export" method="GET">
            <button class="btn-export" type="submit">Xuất File Excel</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>ID Giáo Viên</th>
                    <th>Họ Tên Giáo Viên</th>
                    <th>Số Điện Thoại</th>
                    <th>Địa Chỉ</th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i< dataGiaoVien.length; i++){ %>
                    <tr>
                        <td>
                            <%= i+1 %>
                        </td>
                        <td>
                            <%= dataGiaoVien[i].id %>
                        </td>
                        <td>
                            <%= dataGiaoVien[i].hoTenGV %>
                        </td>
                        <td>
                            <%= dataGiaoVien[i].soDienThoaiGV %>
                        </td>
                        <td>
                            <%= dataGiaoVien[i].diaChiGV %>
                        </td>
                        <td>
                            <form action="/thong-tin-tai-khoan/<%= dataGiaoVien[i].coTK %>" method="GET">
                                <button class="btn-sua-tt-hs" type="submit">Xem Tài Khoản</button>
                            </form>
                        </td>
                        <td>
                            <form action="/delete-giao-vien" method="POST">
                                <input type="text" hidden value="<%= dataGiaoVien[i].id %>" name="idGiaoVien">
                                <button class="btn-sua-tt-hs" type="submit"
                                    onclick="return confirm('Đưa Giáo Viên Này Vào Danh Sách `Nghỉ Công Tác` ?')">Xóa</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>
</body>

</html>