<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xem Điểm Lớp <%= tenLopHoc %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bangDiem.css">
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script type="text/javascript" src="/js/xlsx.js"></script>
</head>

<body>
    <br>
    <h1 class="title-ds-hs"><b>Bảng Điểm Học Kỳ 2</b></h1>
    <h1 class="title-ds-hs"><b>Lớp <%= tenLopHoc %></b></h1>
    <h2 class="title-ds-hs"><b>Giáo Viên: <%= hoTenGV %></b></h2>
    <h3 class="title-ds-hs"><b>Sỉ Số: <%= siSo %></b></h3>
    <div class="bang-diem">
        <button class="btn-export" onclick="ExportToExcel('xlsx', 'Bang_Diem_HK2_Lop_<%= tenLopHoc %>')">Xuất File
            Excel</button>
        <table id="tbl_exporttable_to_xls" border="1">
            <tr bgcolor="#ddd">
                <th>STT</th>
                <th>Họ tên</th>
                <th>Toán</th>
                <th>Tiếng Việt</th>
                <th>Đạo Đức</th>
                <th>Tự Nhiên & Xã Hội</th>
                <th>Khoa Học</th>
                <th>Lịch Sử & Địa Lý</th>
                <th>Thể Dục</th>
                <th>Âm Nhạc</th>
                <th>Rèn Luyện</th>
                <th>Nhận Xét Của Giáo Viên</th>
            </tr>
            <% for(let i=0; i< danhSachHocSinh.length; i++){ %>
                <tr>
                    <td>
                        <%= i+1 %>
                    </td>
                    <td>
                        <%= danhSachHocSinh[i].hoTen %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemToan %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemTiengViet %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemDaoDuc %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemTNXH %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemKhoaHoc %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemLSDL %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemTheDuc %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemAmNhac %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemRenLuyen %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].nhanXet %>
                    </td>

                </tr>
                <% } %>

        </table>
    </div>
</body>

</html>