<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhập Điểm Học Kỳ 1</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bangDiem.css">
    <style>
        .nhan-xet-input {
            width: 80%;
            /* chỉnh sử độ rộng bảng */
        }
    </style>
</head>

<body>
    <br>
    <h1 class="title-ds-hs"><b>Nhập Điểm Học Kỳ 1</b></h1>
    <h1 class="title-ds-hs"><b>Lớp <%= tenLopHoc %></b></h1>
    <h2 class="title-ds-hs"><b>Giáo Viên: <%= hoTenGV %></b></h2>
    <h3 class="title-ds-hs"><b>Sỉ Số: <%= siSo %></b></h3>
    <button class="btn-nhap-diem-file"
        onclick="location.href = '/giao-vien/<%= idGV %>/nhap-diem-tu-file/hoc-ky-1/<%= idLop %>'">Nhập Điểm Từ
        File</button>
    <button class="btn-nhap-diem-file"
        onclick="location.href = '/giao-vien/<%= idGV %>/xuat-mau-file-nhap-diem/<%= idLop %>'">Xuất Mẫu File
        Nhập Điểm</button>

    <form action="/giao-vien/<%= idGV %>/nhap-diem/hoc-ky-1/<%= idLop %>/post" method="post">
        <input type="text" name="idLop" value="<%= idLop %>" hidden>
        <input type="text" name="idGV" value="<%= idGV %>" hidden>
        <div class="bang-diem">
            <table border="1">
                <tr bgcolor="#ddd">
                    <th>Số Thứ Tự</th>
                    <th>Mã Số Học Sinh</th>
                    <th>Họ tên</th>
                    <th colspan="2">Toán</th>
                    <th colspan="2">Tiếng Việt</th>
                    <th colspan="2">Đạo Đức</th>
                    <th colspan="2">Tự Nhiên & Xã Hội</th>
                    <th colspan="2">Khoa Học</th>
                    <th colspan="2">Lịch Sử & Địa Lý</th>
                    <th colspan="2">Thể Dục</th>
                    <th colspan="2">Âm Nhạc</th>
                    <th colspan="2">Rèn Luyện</th>
                    <th>Nhận Xét Của Giáo Viên</th>
                </tr>
                <tr bgcolor="#ddd">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Điểm</th>
                    <th>Nhận Xét</th>
                    <th>Điểm</th>
                    <th>Nhận Xét</th>
                    <th>Điểm</th>
                    <th>Nhận Xét</th>
                    <th>Điểm</th>
                    <th>Nhận Xét</th>
                    <th>Điểm</th>
                    <th>Nhận Xét</th>
                    <th>Điểm</th>
                    <th>Nhận Xét</th>
                    <th>Điểm</th>
                    <th>Nhận Xét</th>
                    <th>Điểm</th>
                    <th>Nhận Xét</th>
                    <th>Điểm</th>
                    <th>Nhận Xét</th>
                    <th></th>
                </tr>
                <% let a=[]%>
                    <% for(let i=0; i< dataHocSinh.length; i++){ %>

                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= dataHocSinh[i].id %>
                            </td>
                            <td>
                                <%= dataHocSinh[i].hoTen %>
                            </td>
                            <td>
                                <input type="number" name="diemToan<%= dataHocSinh[i].id %>" required min="0" max="10">
                            </td>
                            <td>
                                <input class="nhan-xet-input" type="text" name="NXToan<%= dataHocSinh[i].id %>">
                            </td>
                            <td>
                                <input type="number" name="diemTiengViet<%= dataHocSinh[i].id %>" required min="0"
                                    max="10">
                            </td>
                            <td>
                                <input class="nhan-xet-input" type="text" name="NXTiengViet<%= dataHocSinh[i].id %>">
                            </td>
                            <td>
                                <div>
                                    <select name="diemDaoDuc<%= dataHocSinh[i].id %>">
                                        <option value="T">T</option>
                                        <option value="D">Đ</option>
                                        <option value="K">K</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <input class="nhan-xet-input" type="text" name="NXDaoDuc<%= dataHocSinh[i].id %>">
                            </td>
                            <td>
                                <div>
                                    <select name="diemTNXH<%= dataHocSinh[i].id %>">
                                        <option value="T">T</option>
                                        <option value="D">Đ</option>
                                        <option value="K">K</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <input class="nhan-xet-input" type="text" name="NXTNXH<%= dataHocSinh[i].id %>">
                            </td>
                            <td>
                                <div>
                                    <select name="diemKhoaHoc<%= dataHocSinh[i].id %>">
                                        <option value="T">T</option>
                                        <option value="D">Đ</option>
                                        <option value="K">K</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <input class="nhan-xet-input" type="text" name="NXKhoaHoc<%= dataHocSinh[i].id %>">
                            </td>
                            <td>
                                <div>
                                    <select name="diemLSDL<%= dataHocSinh[i].id %>">
                                        <option value="T">T</option>
                                        <option value="D">Đ</option>
                                        <option value="K">K</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <input class="nhan-xet-input" type="text" name="NXLSDL<%= dataHocSinh[i].id %>">
                            </td>
                            <td>
                                <div>
                                    <select name="diemTheDuc<%= dataHocSinh[i].id %>">
                                        <option value="T">T</option>
                                        <option value="D">Đ</option>
                                        <option value="K">K</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <input class="nhan-xet-input" type="text" name="NXTheDuc<%= dataHocSinh[i].id %>">
                            </td>
                            <td>
                                <div>
                                    <select name="diemAmNhac<%= dataHocSinh[i].id %>">
                                        <option value="T">T</option>
                                        <option value="D">Đ</option>
                                        <option value="K">K</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <input class="nhan-xet-input" type="text" name="NXAmNhac<%= dataHocSinh[i].id %>">
                            </td>
                            <td>
                                <div>
                                    <select name="diemRenLuyen<%= dataHocSinh[i].id %>">
                                        <option value="T">T</option>
                                        <option value="D">Đ</option>
                                        <option value="K">K</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <input class="nhan-xet-input" type="text" name="NXRenLuyen<%= dataHocSinh[i].id %>">
                            </td>
                            <td>
                                <input type="text" name="nhanXet<%= dataHocSinh[i].id %>">
                            </td>
                        </tr>
                        <% } %>
            </table>
        </div>
        <button class="btn-submit-nhap-diem" type="submit">Nhập Điểm</button>
    </form>
</body>

</html>