<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xem Điểm Lớp <%= tenLopHoc %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bangDiem.css">
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script type="text/javascript" src="/js/xlsx.js"></script>
</head>

<body>
    <br>
    <h1 class="title-ds-hs"><b>Bảng Điểm Học Kỳ 1</b></h1>
    <h1 class="title-ds-hs"><b>Lớp <%= tenLopHoc %></b></h1>
    <h2 class="title-ds-hs"><b>Giáo Viên: <%= hoTenGV %></b></h2>
    <h3 class="title-ds-hs"><b>Sỉ Số: <%= siSo %></b></h3>

    <div class="bang-diem">
        <button class="btn-export" onclick="ExportToExcel('xlsx', 'Bang_Diem_HK1_Lop_<%= tenLopHoc %>')">Xuất File
            Excel</button>
        <form action="/giao-vien/<%= idGV %>/sua-diem/hoc-ky-1/<%= idLop %>" method="get">
            <button class="btn-export" type="submit">Sửa Điểm Học Kỳ 1</button>
        </form>

        <table id="tbl_exporttable_to_xls" border="1">
            <tr bgcolor="#ddd">
                <th rowspan="2">STT</th>
                <th rowspan="2">Họ tên</th>
                <th colspan="2">Toán</th>
                <th colspan="2">Tiếng Việt</th>
                <th colspan="2">Đạo Đức</th>
                <th colspan="2">Tự Nhiên & Xã Hội</th>
                <th colspan="2">Khoa Học</th>
                <th colspan="2">Lịch Sử & Địa Lý</th>
                <th colspan="2">Thể Dục</th>
                <th colspan="2">Âm Nhạc</th>
                <th colspan="2">Rèn Luyện</th>
                <th rowspan="2">Nhận Xét Của Giáo Viên</th>
            </tr>
            <tr>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
            </tr>
            <% for(let i=0; i< danhSachHocSinh.length; i++){ %>
                <tr>
                    <td>
                        <%= i+1 %>
                    </td>
                    <td>
                        <%= danhSachHocSinh[i].hoTen %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemToan %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].NXToan %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemTiengViet %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].NXTiengViet %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemDaoDuc %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].NXDaoDuc %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemTNXH %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].NXTNXH %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemKhoaHoc %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].NXKhoaHoc %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemLSDL %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].NXLSDL %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemTheDuc %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].NXTheDuc %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemAmNhac %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].NXAmNhac %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].diemRenLuyen %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].NXRenLuyen %>
                    </td>
                    <td>
                        <%= danhSachDiem[i].nhanXet %>
                    </td>

                </tr>
                <% } %>

        </table>
    </div>
</body>

</html>