<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sức Khỏe Học Sinh</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script type="text/javascript" src="/js/xlsx.js"></script>
</head>

<body>
    <div class='table-container'>
        <h1 class="title-ds-hs"><b>Tình Hình Sức Khỏe Học Sinh Của Lớp <%= tenLopHoc %> </b></h1>
        <h2 class="title-ds-hs"><b>Giáo viên: <%= hoTenGV %></b></h2>
        <h3 class="title-ds-hs"><b>Sỉ số: <%= siSo %></b></h3>
        <button class="btn-export" onclick="ExportToExcel('xlsx', 'Suc_Khoe_Hoc_Sinh_Lop_<%= tenLopHoc %>')">Xuất file
            excel</button>
        <table id="tbl_exporttable_to_xls" class="table">
            <thead>
                <tr bgcolor="#ddd">
                    <th>STT</th>
                    <th>Mã số hoc sinh</th>
                    <th>Họ tên học sinh</th>
                    <th>Chiều cao (cm)</th>
                    <th>Cân nặng (kg)</th>
                    <th>Tình trạng sức khỏe</th>
                    <th>Số mũi vaccine Covid đã tiêm</th>
                    <th>Lịch khám sức khỏe</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i< dsHocSinh.length; i++){ %>
                    <tr>

                        <td>
                            <%= i+1 %>
                        </td>

                        <td>
                            <%= dsHocSinh[i].id %>
                        </td>
                        <td>
                            <%= dsHocSinh[i].hoTen %>
                        </td>
                        <td>
                            <%= dsSucKhoe[i].chieuCao %>
                        </td>
                        <td>
                            <%= dsSucKhoe[i].canNang %>
                        </td>
                        <td>
                            <%= dsSucKhoe[i].tinhTrangSK %>
                        </td>
                        <td>
                            <%= dsSucKhoe[i].soMuiCovid %>
                        </td>
                        <td>
                            <%= dsSucKhoe[i].lichKham %>
                        </td>
                        <td>

                        </td>

                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>