<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xem Thông Báo Lớp Học</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="pannel">
        <!-- <img class="img-pannel" src="/images/truonghoc.png" alt="pannel"> -->
    </div>
    <div class="navbar">
        <a href="/giao-vien/<%= idGV %>">Trang Chủ</a>
        <a href="/giao-vien/<%= idGV %>/xem-lop-hoc">Thông Tin Lớp Học</a>
        <div class="dropdown">
            <form id="ds-hs" action="/danh-sach-hoc-sinh-lop/<%= idLop %>" method="GET">
                <a href="#" onclick="document.getElementById('ds-hs').submit()">Danh Sách Học Sinh</a>
            </form>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Xem Điểm
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <form id="xem-diem-hk1" action="/giao-vien/<%= idGV %>/xem-diem/hoc-ky-1/<%= idLop %>" method="GET">
                    <a href="#" onclick="document.getElementById('xem-diem-hk1').submit()">Xem Điểm Học Kỳ 1</a>
                </form>
                <form id="xem-diem-hk2" action="/giao-vien/<%= idGV %>/xem-diem/hoc-ky-2/<%= idLop %>" method="GET">
                    <a href="#" onclick="document.getElementById('xem-diem-hk2').submit()">Xem Điểm Học Kỳ 2</a>
                </form>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Nhập Điểm
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <form id="nhap-diem-hk1" action="/giao-vien/<%= idGV %>/nhap-diem/hoc-ky-1/<%= idLop %>" method="GET">
                    <a href="#" onclick="document.getElementById('nhap-diem-hk1').submit()">Nhập Điểm Học Kỳ 1</a>
                </form>
                <form id="nhap-diem-hk2" action="/giao-vien/<%= idGV %>/nhap-diem/hoc-ky-2/<%= idLop %>" method="GET">
                    <a href="#" onclick="document.getElementById('nhap-diem-hk2').submit()">Nhập Điểm Học Kỳ 2</a>
                </form>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Sức Khỏe
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <form id="xem-sk-hs" action="/giao-vien/<%= idGV %>/xem-lop-hoc/<%= idLop %>/xem-suc-khoe" method="GET">
                    <a href="#" onclick="document.getElementById('xem-sk-hs').submit()">Xem Tình Hình Sức Khỏe Học
                        Sinh</a>
                </form>
                <form id="cap-nhat-sk-hs" action="/giao-vien/<%= idGV %>/xem-lop-hoc/<%= idLop %>/cap-nhat-suc-khoe"
                    method="GET">
                    <a href="#" onclick="document.getElementById('cap-nhat-sk-hs').submit()">Cập Nhật Tình Hình Sức Khỏe
                        Học Sinh</a>
                </form>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Thông Báo Lớp
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/giao-vien/<%= idGV %>/xem-lop-hoc/<%= idLop %>/xem-thong-bao-lop">Xem Danh Sách
                    Thông Báo</a>
                <a href="/giao-vien/<%= idGV %>/xem-lop-hoc/<%= idLop %>/viet-thong-bao-lop">Viết Thông Báo
                    Mới</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Gửi Email
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/giao-vien/<%= idGV %>/gui-email-diem/lop/<%= idLop %>">Email Thông Báo Điểm</a>
                <a href="/giao-vien/<%= idGV %>/gui-email-suc-khoe/lop/<%= idLop %>">Email Báo Cáo Sức
                    Khỏe</a>
            </div>
        </div>

    </div>
    <div>
        <div class='table-container'>
            <h2 class="title-ds-hs"><b>Danh Sách Thông Báo Lớp Học</b></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tiêu Đề</th>
                        <th>Nội Dung Thông Báo</th>
                        <th>Ngày Viết</th>
                        <th>Người Viết</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i< thongBao.length;i++) { %>
                        <tr>
                            <td>
                                <%= thongBao[i].tieuDe %>
                            </td>
                            <td>
                                <%= thongBao[i].noiDung %>
                            </td>
                            <td>
                                <%= thongBao[i].ngayViet %>
                            </td>
                            <td>
                                <%= thongBao[i].nguoiViet %>
                            </td>
                            <td>
                                <form action="/giao-vien/<%= idGV %>/xem-lop-hoc/<%= idLop %>/xoa-thong-bao-lop"
                                    method="POST">
                                    <input type="text" hidden value="<%= thongBao[i].id %>" name="idThongBao">
                                    <button class="btn-sua-tt-hs" type="submit"
                                        onclick="return confirm('Xóa Thông Báo Này?')">Xóa</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>


    </div>
</body>

</html>