<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mãu nhập điểm lớp <%= tenLop %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bangDiem.css">
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script type="text/javascript" src="/js/xlsx.js"></script>
</head>

<body>
    <br>
    <h1 class="title-ds-hs"><b>Mẫu nhập điểm</b></h1>
    <h1 class="title-ds-hs"><b>Lớp <%= tenLop %></b></h1>
    <div class="bang-diem">
        <button class="btn-export" onclick="ExportToExcel('xlsx', 'Mau_Nhap_Diem_Lop_<%= idLop %>')">Xuất file
            excel</button>
        <table id="tbl_exporttable_to_xls" border="1">
            <tr bgcolor="#ddd">
                <th>STT</th>
                <th>Mã số học sinh</th>
                <th>Họ tên</th>
                <th colspan="2">Toán</th>
                <th colspan="2">Tiếng Việt</th>
                <th colspan="2">Đạo Đức</th>
                <th colspan="2">Tự Nhiên & Xã Hội</th>
                <th colspan="2">Khoa Học</th>
                <th colspan="2">Lịch Sử & Địa Lý</th>
                <th colspan="2">Thể Dục</th>
                <th colspan="2">Âm Nhạc</th>
                <th colspan="2">Rèn Luyện</th>
                <th>Nhận Xét Của Giáo Viên</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
                <th>Điểm</th>
                <th>Nhận xét</th>
            </tr>
            <% for(let i=0; i< danhSachHocSinh.length; i++){ %>
                <tr>
                    <td>
                        <%= i+1 %>
                    </td>
                    <td>
                        <%= danhSachHocSinh[i].id %>
                    </td>
                    <td>
                        <%= danhSachHocSinh[i].hoTen %>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
                <% } %>

        </table>
    </div>
</body>

</html>