<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phụ Huynh: <%= hoTenPH %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/carousel.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="pannel">
        <!-- <img class="img-pannel" src="/images/truonghoc.png" alt="pannel"> -->
    </div>

    <div class="navbar">
        <a href="/phu-huynh/<%= idPH %>">Trang Chủ</a>
        <div class="dropdown">
            <button class="dropbtn">Thông Báo
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc/thong-bao-tu-so">Thông Báo Từ Sở</a>
                <a href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc/thong-bao-tu-phong">Thông Báo Từ Phòng</a>
                <a href="http://ninhkieu.edu.vn/thnguyendu/chuyen-de-giao-duc/thong-bao/thong-bao-cua-truong">Thông Báo
                    Của Trường</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Xem Kết Quả Học Tập
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <% for(let i=0; i< dsHocSinh.length; i++){ %>
                    <a href="/phu-huynh/<%= idPH %>/xem-thong-tin-hoc-sinh/<%= dsHocSinh[i].id %>">Học Sinh: <%=
                            dsHocSinh[i].hoTen %></a>
                    <% } %>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Xem Kết Báo Cáo Sức Khỏe
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <% for(let i=0; i< dsHocSinh.length; i++){ %>
                    <a href="/phu-huynh/<%= idPH %>/xem-suc-khoe-hoc-sinh/<%= dsHocSinh[i].id %>">Học Sinh: <%=
                            dsHocSinh[i].hoTen %></a>
                    <% } %>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Xem Thông Báo Lớp
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <% for(let i=0; i< dsHocSinh.length; i++){ %>
                    <a href="/phu-huynh/<%= idPH %>/xem-thong-bao-lop-cua-hoc-sinh/<%= dsHocSinh[i].id %>">Lớp Của: <%=
                            dsHocSinh[i].hoTen %></a>
                    <% } %>
            </div>
        </div>
    </div>

    <div>
        <div class='table-container'>
            <h2 class="title-ds-hs"><b>Danh Sách Thông Báo Lớp Của Em: <%= hoTenHS %></b></h2>
            <h2 class="title-ds-hs"><b>Lớp: <%= tenLop %></b></h2>
            <h2 class="title-ds-hs"><b>Giáo Viên: <%= hoTenGV %></b></h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Tiêu Đề</th>
                        <th>Nội Dung Thông Báo</th>
                        <th>Ngày Viết</th>
                        <th>Người Viết</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i< thongBao.length;i++) { %>
                        <tr>
                            <td>
                                <%= thongBao[i].tieuDe %>
                            </td>
                            <td>
                                <%= thongBao[i].noiDung %>
                            </td>
                            <td>
                                <%= thongBao[i].ngayViet %>
                            </td>
                            <td>
                                <%= thongBao[i].nguoiViet %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>