<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sức khỏe học sinh</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bangDiem.css">
    <style>
        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>

<body>
    <h1 class="title-ds-hs"><b>Phiếu theo dõi sức khỏe học sinh</b></h1>
    <h2 class="title-ds-hs" style="font-style: italic;">(Dành cho học sinh tiểu học)</h2>

    <div class="table-thong-tin">
        <table border="1">
            <tr>
                <td>Tên học sinh: <b>
                        <%= hoTenHS %>
                    </b>
                </td>
                <td>Lớp: <b>
                        <%= tenLop %>
                    </b>
                </td>
                <td>Trường: <b>TIỂU HỌC NGUYỄN DU</b></td>
            </tr>
            <tr>
                <td>Phụ huynh: <b>
                        <%= hoTenPH %>
                    </b>
                </td>
                <td colspan="2">SĐT: <b>
                        <%= soDienThoaiPH %>
                    </b>
                </td>
            </tr>
            <tr>
                <td>Giáo viên: <b>
                        <%= hoTenGV %>
                    </b>
                </td>
                <td colspan="2">SĐT: <b>
                        <%= soDienThoaiGV %>
                    </b>
                </td>
            </tr>
        </table>
    </div>


    <div class="table-sk">
        <table border="1">
            <tr>
                <td>Mã số học sinh</td>
                <td>
                    <b>
                        <%= idHS %>
                    </b>
                </td>
            </tr>
            <tr>
                <td>Họ tên học sinh</td>
                <td>
                    <b>
                        <%= hoTenHS %>
                    </b>
                </td>
            </tr>
            <tr>
                <td>Chiều cao (cm)</td>
                <td>
                    <b>
                        <%= sucKhoeHS.chieuCao %>
                    </b>
                </td>
            </tr>
            <tr>
                <td>Cân nặng (kg)</td>
                <td>
                    <b>
                        <%= sucKhoeHS.canNang %>
                    </b>
                </td>
            </tr>
            <tr>
                <td>Tình trạng sức khỏe</td>
                <td>
                    <b>
                        <%= sucKhoeHS.tinhTrangSK %>
                    </b>
                </td>
            </tr>
            <tr>
                <td>Số mũi vaccine Covid đã tiêm</td>
                <td>
                    <b>
                        <%= sucKhoeHS.soMuiCovid %>
                    </b>
                </td>
            </tr>
            <tr>
                <td>Lịch khám sức khỏe</td>
                <td>
                    <b>
                        <%= sucKhoeHS.lichKham %>
                    </b>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>