<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Học Sinh</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        <div class='table-container'>
            <h2><b>Thông Tin Học Sinh</b></h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ Tên</th>
                        <th>Ngày Sinh</th>
                        <th>Giới Tính</th>
                        <th>ID Phụ Huynh</th>
                        <th>Lớp Học</th>
                    </tr>
                </thead>
                <tbody>
                    <div></div>
                    <% for(let i=0; i< detailsHocSinh.length; i++){ %>
                        <% let day=detailsHocSinh[i].ngaySinh.getDate(); let month=detailsHocSinh[i].ngaySinh.getMonth()
                            + 1; let year=detailsHocSinh[i].ngaySinh.getFullYear(); let date=day+'/'+month+'/'+year %>
                            <tr>
                                <td>
                                    <%= detailsHocSinh[i].id %>
                                </td>
                                <td>
                                    <%= detailsHocSinh[i].hoTen %>
                                </td>
                                <td>
                                    <%= date %>
                                </td>
                                <td>
                                    <%= detailsHocSinh[i].gioiTinh %>
                                </td>
                                <td>
                                    <%= detailsHocSinh[i].idPH %>
                                </td>
                                <td>
                                    <%= tenLop %>
                                </td>
                            </tr>
                            <form action="/sua-thong-tin-hoc-sinh/<%= detailsHocSinh[i].id %>" method="GET">
                                <button class="btn6" type="submit">Sửa Thông Tin</button>
                            </form>
                            <% } %>
                </tbody>

            </table>
        </div>
    </div>
</body>

</html>